<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="col-4">
        <img src="~/Content/Images/sagicor-footer-logo.png" class="footer-logo">
        <img src="~/Content/Images/bbb-logo.png" class="footer-bbb-logo">
        </div>
        <div class="col-2">
        <h4>Get Covered</h4>
            <ul class="nav">
                <li>Get a Quote</li>
                <li>Calculate Your Needs</li>
            </ul>
        </div>
        <div class="col-2">
        <h4>Resources</h4>
            <ul class="nav">
                <li>Insurance 101</li>
                <li>Blog</li>
                <li>Videos</li>
                <li>Agents</li>
            </ul>           
        </div>
        <div class="col-2">
        <h4>About</h4>
            <ul class="nav">
                <li>Our Story</li>
                <li>FAQ</li>
                <li>Careers</li>
                <li>Contact Us</li>
            </ul>       
        </div>
        <div class="col-1">

        <div id="social">
        <ul class="nav">
        <li><a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/Sagicor-Life-Insurance-Company-319221641536486/" target="_blank" ></a></li>
        <li><a class="twitterBtn smGlobalBtn" href="https://twitter.com/SagicorLife" target="_blank" ></a></li>
        <li><a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/company-beta/94509/?pathWildcard=94509" target="_blank" ></a></li>
        </ul>
        </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
        <p class="footer_copy">2017 &copy; Sagicor Life Insurance Company. All Rights Reserved. </p>
        </div>
        <div class="col-lg-4">
        <ul class="legal mr-auto"><li class=""><a class="legal" href="http://www.sagicorlifeusa.com/terms-and-conditions/" target="_blank">Terms</a></li><li><a class="legal" href="http://www.sagicorlifeusa.com/privacy-policy/" target="_blank" >Privacy</a></li></ul>
        </div>                  
                    
    </div>
    </div>
</footer>