@model SagicorNow.Data.Entities.ProposalHistory

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/Site.css">*@

<div id="quoteModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="icon-stack">
                    <i class="fa fa-circle icon-stack-2x" style="text-shadow:0px 0px 3px #000;"></i>
                    <i class="fa fa-close icon-stack-1x" style="color:#333;"></i>
                </span>
            </button>
            <p>We found an existing application create on @Model.CreatedDateTime.ToShortDateString(), would you like to continue with this application? </p>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" id="btn-continue-proposal">Continue</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success" id="btn-start-proposal">Start New</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
  </div>
</div>