<footer class="footer">
    <div class="container-fluid" id="disclosures">
    <div class="row">
        <div class="col-lg-12 text-center">
        <!-- Button trigger modal -->
        <p id="disclaimertxt"  class="launch-modal" data-toggle="modal" data-target="#disclosuresModal" tabindex="0">
           &#42;SEE IMPORTANT DISCLOSURES
        </p>
        </div>
    </div>
    </div>
	<div class="container">
	<div class="row">
        <div class="col-md-2 footer-brands">
        <a href="https://www.sagicorlifeusa.com" target="_blank"><img src="~/Content/Images/sagicor-footer-logo.png" class="footer-logo"></a>
        <a href="https://www.bbb.org/phoenix/business-reviews/life-insurance/sagicor-life-insurance-company-in-scottsdale-az-97009366" target="_blank"><img src="~/Content/Images/bbb-logo.png" class="footer-bbb-logo"></a>
        </div>
        <div class="col-md-2 padbottom20">
        <h4>Get Covered:</h4>
            <ul class="nav">
                  <li><a href="@Url.Content("~/quote")">Get a Quote</a> </li>
                  <li><a href="@Url.Content("~/needs")">Calculate Your Needs</a> </li>                      
            </ul>
        </div>
        <div class="col-md-2 padbottom20">
        <h4>Products:</h4>
            <ul class="nav">
                <li>  <a href="/pages/sage-term-life">Sage Term Life</a> </li>
                <li>  <a href="/pages/sage-whole-life">Sage Whole Life</a> </li>
            </ul>           
        </div>            
        <div class="col-md-2 padbottom20">
        <h4>Resources:</h4>
            <ul class="nav">
                <li>  <a href="/pages/life-insurance-101">Life Insurance 101</a> </li>
                <li>  <a href="/pages/why-buy-life-insurance">Why Buy Life Insurance</a> </li>
                <li>  <a href="/pages/term-vs-whole-life">Term vs Whole Life</a></li>
			</ul>           
        </div>
        <div class="col-md-2 padbottom20">
        <h4>About:</h4>
        <ul class="nav">
            <li> <a href="/pages/about-us">About Us</a></li>
            <li> <a href="/pages/contact-us">Contact Us</a></li>
            <li> <a href="/pages/testimonials">Testimonials</a></li>
            <li> <a href="/pages/larger-than-life">Larger Than Life</a></li>
            <li> <a href="/pages/faq">FAQ</a> </li>
        </ul>       
        </div>
        <div class="col-md-2 padbottom20">
        <div id="social">
        <ul class="social-nav">
        <li><a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/Sagicor-Life-Insurance-Company-319221641536486/" target="_blank" title="Facebook" ></a></li>
        <li><a class="twitterBtn  smGlobalBtn" href="https://twitter.com/SagicorLife" target="_blank" title="Twitter" ></a></li>
        <li><a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/company-beta/94509/?pathWildcard=94509" target="_blank" title="LinkedIn" ></a></li>
        </ul>
        </div>
        </div>
    </div>
    <div class="row">
        <div id="legal_links" class="col-md-11">
        <p class="footer_copy">2019 &copy; Sagicor Life Insurance Company. All Rights Reserved.<br/>
		<a class="legal" href="/pages/terms" target="_blank">Terms and Conditions</a> &nbsp;|&nbsp; <a class="legal" href="/pages/privacy-statement" target="_blank" >Privacy Statement</a> &nbsp;|&nbsp; <a class="legal" href="/pages/privacy-policy" target="_blank" >Privacy Policy</a> &nbsp;|&nbsp; <a class="legal" href="/pages/electronic-consent-and-disclosure" target="_blank" >Customer Electronic Consent and Disclosure</a></p>
        </div>                                     
    </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="disclosuresModal" tabindex="-1" role="dialog" aria-labelledby="disclosuresModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disclosuresModalLabel">Disclosures</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<small><strong>No Medical Exam:</strong> Issuance of this policy may depend on answers to health questions set forth in the application process.</small>
		    <small><strong>Term Life – Inherent Accelerated Benefit Rider:</strong> Accelerated benefit applies if an insured has been confined to a nursing home for 90 consecutive days and is expected to remain confined until death. In CA, FL, DC, DE, ND and SD the accelerated benefit applies if an insured is under 91 and has less than 12 months to live is at least 60 and has been confined to a nursing home for 180 consecutive days and is expected to remain confined until death.</small>
		    <small><strong>Whole Life – Policy Loans:</strong> The maximum loan value is the cash value as of the date of the loan, less any existing loan and accrued interest and interest on indebtedness from the date of the loan to the next policy anniversary date. Interest rate of 5.66% charged in advance of the loan.</small>
		    <small><strong>General Disclosures:</strong>
		    <ul>
		        <li>SagicorNow is the marketing name for the Sagicor Life Insurance Company direct-to-consumer online experience.</li>
		        <li>Not available in all states. State variations may apply.</li>
		        <li>"Free quote" means you will receive a free quote at no obligation or cost to you.</li>
		        <li>Sagicor issues life insurance and annuity products. Policy and riders are not available in all states. State variations may apply.</li>
		        <li>Neither Sagicor Life Insurance Company nor its agents provide tax, legal, or accounting advice. Please consult with your tax and/or legal advisor for information specific to your situation.</li>
		        <li>For additional product or rider details <a href="/pages/contact-us">contact a Sagicor Life agent.</a></li>
		        <li>Policy and riders are subject to all applicable surrender charges.</li>
		    </ul>
		    </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>