<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
   <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand navbar-brand-left" href="@Url.Content("~/")"><img src="~/Content/Images/sagicor_logo.png" alt="SagicorNow Home" class="sagicorlogo"></a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

         <ul class="navbar-nav ml-auto ">
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Coverage</a>
               <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="@Url.Content("~/quote")">Get a Quote</a>
				  <a class="dropdown-item" href="@Url.Content("~/needs")">Calculate Your Needs</a>                       
               </div>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
               <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="/pages/sage-term-life">Sage Term Life</a>
                  <a class="dropdown-item" href="/pages/sage-whole-life">Sage Whole Life</a>                      
               </div>
            </li>                
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
               <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="/pages/life-insurance-101">Life Insurance 101</a>
                  <a class="dropdown-item" href="/pages/why-buy-life-insurance">Why Buy Life Insurance</a>
                  <a class="dropdown-item" href="/pages/term-vs-whole-life">Term vs Whole Life</a>					
               </div>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
               <div class="dropdown-menu" aria-labelledby="dropdown01">
                   <a class="dropdown-item" href="/pages/about-us">About Us</a>
                   <a class="dropdown-item" href="/pages/contact-us">Contact Us</a>
                   <a class="dropdown-item" href="/pages/testimonials">Testimonials</a>
                   <a class="dropdown-item" href="/pages/larger-than-life">Larger Than Life</a>
                   <a class="dropdown-item" href="/pages/faq">FAQ</a>
               </div>
            </li>
         </ul>
      </div>
   </div>
</nav>
