<!--HERO-->
<div id="needs-analysis">
<div class="container-fluid">
    <div id="hero" class="row hero hero_needs">
        <div class="container padtop60 push60">
		<div class="col-lg-12">          
            <div class="text-center">               
			<h2>We Provide Peace of Mind</h2>
            <p>You'll always be there for the ones you love.</p>
                <a class="btn hero-btn-other-2" href="/needs">Calculate Your Needs</a>   
			</div>
        </div>  
    </div>
</div> 
</div>
</div>
