<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for SagicorNow.
The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <globalization fileEncoding="utf-8" />
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_NewBusiness">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_NewBusiness" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://uat.firelighteapp.com/EGApp/services/newbusinessservice.svc?GAT=UA-97044577-1&amp;GAC={0}" binding="customBinding" bindingConfiguration="CustomBinding_NewBusiness" contract="NewBusiness" name="CustomBinding_NewBusiness" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <!--<add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />-->
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="default" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SagicorNow;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\SagicorNow_v0.2.mdf" providerName="System.Data.SqlClient" />-->
    <add name="default" connectionString="Data Source=SFCDCSQL02D.sagicorgroup.com;Initial Catalog=SagicorNow;User ID=SagicorNowUser;Password=eoKMeqRezkkfka1SlM1a" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="https://uat.firelighteapp.com/EGApp/"/>  <!--(UAT)-->
    <!-- <add key="BaseUrl" value="https://firelight.insurancetechnologies.com/EGApp/"/> -->    <!--(QE)-->
    <!-- <add key="BaseUrl" value="https://firelight.insurancetechnologies.com/EGAppNext/"/> --><!--(QE Next)-->
    <add key="ForeSightUrl" value="https://illustration.test.sagicorlifeusa.com/sli6/Core/Acord/TXLifeService.svc"/>
    <add key="SagApiSecret" value="b6c99d41902e46ff8dee144589bfe846"/>
    <add key="SagOrgId" value="D2C"/>
    <add key="SagCarrierCode" value="SAG"/>
    <add key="CertSerialNum" value="24000001c5e9e39d3274150b7b0002000001c5"/>
    <add key="AgentPartyId" value="14529e88-60ed-4877-847a-3f682862c14f"/>
    <add key="ProducerId" value="SAG0301"/>
    <add key="DefaultCoverage" value="250000"/>
    <add key="EmbedTokenKeyName" value="FireLightToken"/>
    <add key="EmbedTokenDateTimeCreatedKeyName" value="TokenCreatedDateTime"/>
  </appSettings>
</configuration>