@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
}
<div class="container-fluid">

<div id="legal" class="row legal_hero hero_legal">
</div>
</div>  
<div class="container-fluid"></div>
<div id="legal" class="container">
<div class="row">
<div class="col-lg-12">

<h1>Customer Electronic Consent and Disclosure</h1>
<h2>IMPORTANT NOTICE - PLEASE READ CAREFULLY AND KEEP FOR FUTURE REFERENCE</h2>
<h3>What is the purpose of this Electronic Consent and Disclosure?</h3>
<p>You are applying for a life insurance policy from Sagicor Life Insurance Company ("Sagicor") and have expressed your desire to conduct business electronically with regard to this life insurance policy ("Policy") and communications related to the Policy.  To conduct business electronically, you must provide Sagicor and its authorized designees and producers with your consent.  If you check the "I Consent" box and electronically sign this form, you will be providing Sagicor and its authorized designees and producers, with your consent:</p>      
<p>
a)  to have the information described in this Customer Electronic Consent and Disclosure ("Consent") delivered to you electronically;</br>
b)  to execute via electronic means the documents that are described in this Consent; and<br/>
c)  to all of the terms and conditions set forth below in this Consent.<br/>
</p>
<p>If you do not:</p>
<ul>
<li>want to have the information described in this Consent delivered to you electronically;</li>                
<li>want to execute via electronic means the documents that are described in this Consent; or</li>
<li>agree with all of the terms and conditions of this Consent, </li>
</ul>
<p>you may not conduct business electronically with Sagicor, and you must check the "I Do Not Consent" box below.</p>
<h3>What does this Consent cover once I sign it?</h3>
<p>This Consent covers your agreement to all of the terms and conditions herein, including your agreement to:</p>

<p>
1.  receive via electronic means the documents that Sagicor is required by law to provide or make available to you in writing ("Required Documents"), as well as other information and documents (collectively, "Other Documents");<br/>
2.  execute via electronic means Required Documents and Other Documents; and<br/>
3.  be bound with the same force and effect as if you had affixed your signature on paper by hand when you check the "I Consent" box or otherwise apply your electronic signature to Required Documents or Other Documents.<br/>
</p>

<p>While not a complete listing, the types of Required Documents that may be sent to you or otherwise made available to you electronically include:</p>


<ul>
<li>the Life Insurance application and related documents</li>
<li>your Life Insurance policy </li>
<li>your Life Insurance policy statements</li>
<li>required disclosure statements</li>
<li>privacy notices</li>            
</ul>



<p>While not a complete listing, the types of Other Documents that may be sent to you or otherwise made available to you electronically include:</p>
<ul>
<li>information about your Life Insurance policy</li>
<li>service forms</li>  
<li>general communications</li>             
</ul>           


<p>Even though you have provided Sagicor with this consent, Sagicor may, at its option:</p>
<p>a)   deliver Required Documents and Other Documents to you on paper, and<br/>
b)  require that certain communications from you be delivered to Sagicor on paper.</p>

<h3>Can I get paper copies of the Required Documents and Other Documents?</h3>          
<p>Yes. You may obtain paper copies of any of the Required Documents or Other Documents at any time and without charge by contacting Sagicor at the address provided below (or such other Insurer address as may be provided to you in the future).
</p>


<h3>Should I maintain copies of the Required Documents and Other Documents?</h3>
<p>Yes.  You agree to print or save this Consent and all Required Documents and Other Documents, and to keep printed or electronic copies of them for your records.  If you have any trouble with printing or saving, you should contact Sagicor.</p>



<h3>How long will this Consent remain in effect?</h3>
<p>This Consent shall become effective once you check the "I Consent" box and sign this form and will remain in effect for as long as your Policy remains in effect, or until you withdraw your consent (as described in the next section), whichever occurs first.</p>

<h3>What if I change my mind?</h3>
<p>If at any time you would like to cease doing business electronically with Sagicor with respect to your Policy, you will need to provide Sagicor with written notice of your withdrawal of your consent to do business electronically, which will then terminate this Consent. You may withdraw consent at any time and without charge by contacting Sagicor. Your withdrawal of consent to do business electronically and the termination of this Consent will become effective two (2) business days after Sagicor’s receipt of your withdrawal. Thereafter, all Required Documents and Other Documents will be provided to you on paper. </p>

<h3>What if my contact information changes? </h3>
<p>You must keep Sagicor informed of any changes to your e-mail address and all other contact information.  You may inform Sagicor of any such changes by contacting Sagicor at the address provided below (or such other Insurer address as may be provided to you in the future).</p>

<h3>How can I contact Sagicor?</h3>
<p>You can contact Sagicor as follows:</p>

<p>
Mail: Sagicor Insurance Company<br/>
         P.O. Box 52121<br/>
         Phoenix, AZ 85072-2121
</p>
</p>Telephone: 1-888-SAGICOR (724-4267)<br/>
Website: www.SagicorLifeUSA.com
</p>


<h3>Are there any hardware or software requirements to do business electronically with Sagicor?</h3>
<p>Yes.  To access and retain the Required Documents and Other Documents sent or made available to you electronically by Sagicor you must have access to a computer with an Internet connection.  You must be able to send and receive e-mails, and be able to save the Required Documents and Other Documents to a storage device for later reference or have a computer connected to a printer so you can print out such documents.  The minimum hardware and software requirement are:</p>


<ul>
<li>Minimum Screen Resolution 1024 X 768</li>
<li>Windows: Intel® Pentium® III 450MHz or faster processor (or equivalent)</li>
<li>Operating System: Windows 7, Windows Vista; Windows XP Service Pack 2</li>
<li>Macintosh: Apple Mac OS X 10.4.8 or above, Intel Core™ Duo 1.83GHz or faster processor</li>
<li>Microsoft Silverlight plug-in 3.0 +</li>
<li>Web browser: Internet Explorer 6+, Firefox 2+, Safari 3+, Google Chrome.</li>
<li>Misc: 128MB of RAM, Cookies Enabled.</li>
</ul>



            
</div>
</div>
</div>

