@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
}

<div class="container-fluid">

<div id="hero" class="row hero hero_life_insurance_101">
	<div class="container">
		<div class="col-lg-8">			
			<h1>Questions about life insurance?</h1>
			<p>We're here to help! Keep reading to learn more about Sagicor Life and how life insurance is a key part of protecting you and your family.</p>
			<p>When you're ready, you can get a fast, FREE quote on the protection you need.</p>
			<a class="hero-btn" href="/Quote">Get Quote</a>
		</div>
		<div class="col-lg-2">
		</div>			
	</div>	
</div>
</div>	

@Html.Partial("MarketingBanner")

<div class="container main-content">
<div class="col-lg-12">

<h2>What is life insurance?</h2>
<p>Life insurance provides protection against the loss of income that results from the death of a wage earner. It can also be used to build savings for retirement. Periodically evaluating life insurance needs should be an important part of everyone's financial planning. </p>

<h2>Why do people need life insurance?</h2>
<p>Anyone who has a family, supports a household, pays a mortgage, or plans to send children to college can alleviate the financial burdens created by their death, if they have life insurance. The dreams they have for their loved ones won't die with them. Life insurance is one of the greatest gifts individuals can give to their family. It is also an exceptional value for the money.</p>

<h2>How does life insurance work?</h2>
<p>All life insurance policies work on the same basic premise; make payments, called premiums, to the insurance company, which guarantees to pay chosen beneficiaries a sum of money upon the death of the insured.</p>

<h2>How much life insurance is needed?</h2>
<p>Enough to provide for dependents' immediate cash needs and their on-going living expenses. As a general rule, individuals will require 5 to 10 times their annual income, depending on their lifestyle, number of dependents, and other sources of income.</p>

<h2>How much does life insurance cost?</h2>
<p>The cost varies, depending on the amount of coverage and the type of life insurance being purchased, as well as, the current age, gender, health and lifestyle of the insured. Term and Whole Life insurance are proven products to help secure your family's future.  Overall, life insurance is very affordable and there is no good reason to be without it.</p>

<h2>What are the different types of life insurance?</h2>
<p>Term Insurance is straight forward and often the least expensive type of life insurance coverage. It is usually purchased for a specified number of years, hence the name “term”. If the insured dies during the term, their beneficiaries are paid the amount of the policy. If the insured is alive when the term ends, there is no payout.</p>
<p>Whole Life Insurance combines a death benefit with a savings component. Part of the premium goes towards building a cash value. Premiums are fixed and the policy will remain in force for the entire lifetime of the insured, provided the premiums are paid. When the insured dies, their beneficiaries are paid the amount of the policy.  Whole Life insurance provides affordable life time coverage.</p>

<h2>Is it possible to borrow money against a life insurance policy?</h2>
<p>It depends on the type of policy. Borrowing against a term policy is not permitted. Borrowing is permitted on the cash value portion of a Whole Life policy. Loan rates are usually below prevailing market rates.  It is important to repay the loan in order to restore the policy's original value.</p>

<h2>What are the risks to waiting to purchase life insurance?</h2>
<p>Individuals may delay purchasing life insurance because they feel that they can't afford it right now. But in reality they can't afford to be without life insurance. Consider this; a family that is having a difficult time managing on their current income will have a much harder time facing the future without the salary of a main contributor. The fact is not having life insurance is a huge gamble with potentially devastating consequences. Life insurance can guarantee the security of a family's financial future.</p>
		
</div>
</div>

@Html.Partial("TrustPilot")