@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
}
<div class="container-fluid">

<div id="legal" class="row legal_hero hero_legal">
</div>
</div>  
<div class="container-fluid"></div>
<div id="legal" class="container">
<div class="row">
<div class="col-lg-12">

<h1>Terms and Conditions</h1>
<h3>1. Terms & Conditions</h3>
<p>Welcome to the Sagicor Life Insurance Company ("Sagicor") website. Sagicor maintains and provides access to this website, and to the information, features, services and other content contained herein (collectively the "Website Content"), subject to the following conditions ("Terms & Conditions"), which constitute a legally binding agreement between you, whether personally or on behalf of an entity whom you represent ("you"), and Sagicor. The Terms & Conditions apply to you and all visitors and others who access the website ("Users").  By accessing or otherwise using any part of the Website Content, you signify that you have read, understood and accept the Terms, Conditions and any policies, notices or other provisions incorporated by reference.</p>

<p>Please note the Terms & Conditions are written in English and to the extent any translated version of the Terms & Conditions conflict with the English version, the English version controls.</p>

<p>If you do not agree to the following Terms & Conditions, do not access or use this website.</p>

<p>Sagicor reserves the right to modify or amend these Terms & Conditions at any time. All changes shall be effective immediately upon their posting. Material changes will be posted conspicuously on this website. By accessing the website following posting of changes to the Terms & Conditions, you agree to all such changes.</p>
 
<h3>2. Site Information</h3>
<p>Sagicor is an independent life insurance company. The information in this Agreement or contained within the website is for informational purposes only. Sagicor does not provide medical advice or treatment, nor shall anything in this Agreement or contained within the website be interpreted as constituting the practice or providing of any medical, nursing or other professional health care advice, diagnosis or treatment. Sagicor does not provide legal or tax advice, nor shall anything in this Agreement or contained within the Website Content be interpreted as constituting the practice of law or the providing of legal or tax advice. Sagicor does not guarantee that information on this website is accurate or error-free, but Sagicor strives to make every reasonable effort to provide you accurate information. Please bring any errors to our attention by contacting us at webmaster@SagicorLifeUSA.com.</p>

<p>Information displayed on this website is subject to modification without notice. Sagicor reserves the right to modify such information without any obligation to notify past, current or prospective website users.</p>

<p>All offers set forth on this website are void where prohibited, and are subject to the posting of any official rules pertaining to such offers.</p>
 
<h3>3.Intellectual Property Rights</h3>
<p>&copy Copyright 2017. Sagicor Life Insurance Company. All rights reserved. All copyrightable software, logos, patents, trademarks, service marks, text, audio, video, graphics, charts, photographs, icons, and the design, selection, and arrangement of content in any medium (the "Sagicor Content") and all intellectual property rights related thereto on this website are copyrighted by Sagicor, and are the exclusive property of Sagicor and its licensors unless otherwise noted. The distinctive and original layout and presentation of this website also constitutes protectable trade dress under applicable federal law. In addition, many proprietary names and marks belonging to Sagicor appear throughout this website, including without limitation "Sagicor Life Insurance Company." This website may also contain references to third-party marks, and copies of third-party copyrighted materials, which are the property of their respective owners. Any unauthorized use of any trade dress, marks, or any other intellectual property belonging to Sagicor or any third party is strictly prohibited, and will be prosecuted to the fullest extent of the law. Except as explicitly provided herein, nothing in the Terms & Conditions shall be deemed to create a license in or under any such intellectual property rights, and you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from any Website Content, except those parts of the Website Content expressly made available to you for your unlicensed use. Use of the Sagicor Content or other Website Content for any purpose not expressly permitted is strictly prohibited.</p>

<p>Any suggestions, ideas, concepts, inventions, or other materials ("items") that you submit to Sagicor via this website shall become the property of Sagicor and you assign all right, title and interest in and to any such items to Sagicor. Sagicor, as owner, may use, copy, modify, distribute, mirror, republish or transmit such items without your consent and without any compensation to you.</p>
 
<h3>4. Product Information</h3>
<p>The product material and information included on Sagicor's website is for informational purposes only. This material and information is intended solely to provide a general overview of the types of products and range of services available from Sagicor. The information on this site is not an offer to sell or invitation to purchase any insurance product where such offer to sell or invitation to purchase would violate the insurance laws of any jurisdiction. Not all products and services are available in all geographic areas and the terms and fees of such products and services may vary by geographic region. Product information is subject to change without notice.</p>
 
<h3>5. Use of this Site</h3>
<p>You may download and/or print content from this website solely for your personal or internal business use, provided you do not delete or modify in any manner any content, including copyright, trademark, or other proprietary notices. You may not otherwise use, copy, modify, reproduce, display, distribute, mirror, republish, sell, make, offer to sell, license, decompile, disassemble, reverse engineer, distribute, create derivative works of or transmit any of the content or materials of this website without the prior express written consent of Sagicor. You have no ownership rights in any materials contained on this website. The limited license granted to you above is nonexclusive, non-assignable and non-transferable.</p>

<p>Sagicor may permanently or temporarily terminate, suspend, or otherwise refuse to permit your access to any Website Content or other affiliate websites or pages without notice and liability for any reason.</p>

<p>All aspects of the Website Content are subject to change or elimination at Sagicor's sole discretion. Sagicor reserves the right to interrupt access to any or all of the Website Content with or without prior notice for any reason or no reason. You agree that Sagicor will not be liable to you for any such interruption, or any delay or failure to perform related thereto.</p>

<p>You are solely responsible for your interactions with all other Users who access Sagicor's website. We reserve the right, but have no obligation, to monitor disputes between you and other Users. Sagicor shall have no liability for your interactions with other Users, or for any User's action or inaction.</p>
 
<h3>6. No Liability</h3>
<p>In no event shall Sagicor or any of its officers, representatives, directors, employees, consultants, agents or affiliates be liable for any direct, indirect, punitive, special, incidental, exemplary or consequential damages or any damages whatsoever (including without limitation, damages for loss of use, data, information, profits or business interruption) arising out of or in any way related to the use or performance of this website or any linked website or to any material, information, data, products, or services obtained through this website, or otherwise arising out of your use of this website, your inability to use this website or any decision made or action taken by you in reliance of any information, advice or materials provided on this website, whether such damages are based in tort, contract, negligence, strict liability or otherwise, even if Sagicor has been advised of the possibility of such damages. Your sole and exclusive remedy is to discontinue your access to and use of the website.  Some states do not allow the exclusion or limitation of incidental or consequential damages, so some of the above exclusions or limitations may not apply to you.</p>

<h3>7. No Warranty </h3>
<p>Sagicor makes all commercially reasonable efforts to ensure that all material, information and data on this website is accurate and reliable; however, accuracy cannot be guaranteed. This website is provided by Sagicor on an "AS IS" basis. Sagicor disclaims all warranties with respect to this website, including without limitation all implied warranties of merchantability, fitness for a particular purpose, title and non-infringement. Sagicor makes no warranty or representation regarding the results that may be obtained from use of this website, or use of material, information or data downloaded or otherwise obtained from this website, or regarding the accuracy or reliability of any information obtained from this website. Sagicor does not warrant or guarantee (1) the accuracy, completeness, correctness, timeliness, or usefulness of this website or any material, information or data downloaded or otherwise obtained through use of this website or (2) that use of this website or any materials on this website will meet any users requirement by uninterrupted, timely, secure or error-free. Sagicor shall have no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communication.</p>

<p>You acknowledge and agree (1) that your use of this website is at your own discretion and risk, (2) that use of any material, information or data downloaded or otherwise obtained through the use of this website is at your own discretion and risk, and (3) that you are solely responsible for any damage to your computer system for loss of data that results from the download of such material, information or data, and for any other form of damage that may be incurred. Sagicor does not warrant or guarantee that files or other materials and information available through this website will be free of infections, viruses, worms, Trojan horses or other code that could be harmful to your computer system. None of the parties involved in creating, producing, or delivering this website or its content, including without limitation Sagicor, shall be liable to users of this website for any damage resulting from use of this website or use of material, information or data downloaded or otherwise obtained from this website, nor are such parties in any way responsible for the conduct of users of this website or for information posted or exchanged on this website.</p>

<p>No advice or information, whether oral or written, obtained by you from Sagicor or in any manner from this website shall create any warranty.</p>
 
<h3>8. Third-Party Websites</h3>
<p>This website may link to, or be linked to, other websites not maintained by or related to Sagicor. Such links are provided only as a service to our visitors. Sagicor is not, directly or indirectly, implying any approval, association, sponsorship, endorsement or affiliation with the linked or linking website, unless specifically stated therein. Sagicor has not reviewed all such websites and is not responsible for the content, accuracy, privacy practices, or policies of any such websites. You are linking to any other pages or websites is at your own risk. When accessing any of these other sites, review all applicable terms, conditions and privacy practices provided as part of the site to determine the practices with regard to that site and, if necessary, contact the site owner with questions or requests for additional information.</p>

<p>If you operate another website and are interested in linking to our website, you agree to be bound by the following rules: (1) the link must be a text-only link clearly marked; (2) the link must "point" only to the URL "www.SagicorLifeUSA.com" and not to any other pages; (3) the link, and use thereof, must be in connection with a website of appropriate subject matter which furthers the mission of Sagicor; (4) the link, and use thereof, may not be such that may damage or dilute the goodwill associated with Sagicor's names and marks; (5) the link, and use thereof, may not create the false appearance that an entity other than Sagicor is associated with or sponsored by Sagicor; (6) the link, when activated by a user, must display this site full-screen and not with a "frame" on the linked website; and (7) Sagicor reserves the right to revoke consent to the link at any time in its sole discretion, either by amending these Terms & Conditions or through other notice.</p>
 
<h3>9. Privacy Policy</h3>
<p>By your access and use of this website, you hereby agree to the terms of the Sagicor Privacy Policy, which is incorporated into these Terms & Conditions by this reference.</p>
 
<h3>10. Website Privacy Practices</h3>
<p>Sagicor respects your right to privacy, and treats any information you provide at our website as confidential. A visitor to our site is not requested or required to register or provide any information if the visitor wants to review Company and product information and does not want to have policy related services.</p>

<p>For policy owners who wish to have policy related services, our website's registration process requires you to provide your social security number and policy number.  You will also be requested to provide your e-mail address.  We use this information to verify your identity and to contact you when necessary.  We may also send you occasional promotional communications.</p>

<p>To further protect your privacy, Sagicor has implemented security measures to safeguard the information you provide through the site. The information you enter on the registration form is encrypted when it is sent to us.  We also require each visitor to provide a user name and password to access their policy information.  Access to your personal and financial data is available only to authorized Sagicor employees who have a need for the information.</p>

<p>A "cookie" is information that a website copies to your hard disk.  Cookies are used to identify you when you return to our site and possibly prepare customized pages for you (such as state specific forms).  This information is used only by Sagicor.</p>
 
<h3>11. Indemnification</h3>
<p>You agree to indemnify, defend and hold harmless Sagicor, its officers, representatives, directors, employees, consultants, agents and affiliates from any and all losses, expenses, third-party claims, liabilities, damages and costs (including without limitation attorneys' fees) arising from or related to your use of this website, your use of any material, information or data downloaded or otherwise obtained from this website, or your violation of these Terms & Conditions, including without limitation, your infringement of any intellectual property or other right of Sagicor or any other person or entity.</p>
 
<h3>12. Interpretation and Disputes</h3>
<p>These Terms & Conditions are governed by the laws of the United States and the State of Arizona, without regard to any conflict of law provisions. Venue shall be proper exclusively in Maricopa County, Arizona with respect to any dispute arising under these Terms & Conditions, unless otherwise specifically agreed in writing by Sagicor in its sole discretion. In the event of any dispute, the prevailing party shall be entitled to recovery of its reasonable attorneys' fees and costs. If any provision of these Terms & Conditions is deemed unenforceable or invalid by a court or arbitrator, then the court or arbitrator shall modify such provision to the minimum extent necessary to make such provision enforceable and valid. Should such modification prove impossible or impracticable then the provision shall be severed and the remaining terms of these Terms & Conditions shall be interpreted and read to give them maximum enforceability. Any cause of action or claim with respect to this website must be commenced within one (1) year after the action or claim arises.</p>
 
<h3>13. Entire Agreement</h3>
<p>By your access or use of this website, you hereby agree to these Terms & Conditions. These Terms & Conditions, together with the Sagicor Privacy Policy, constitute the entire agreement between you and Sagicor with respect to your access and use of this website and supersede all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter. Any waiver of any provision of these Terms & Conditions will be effective only if in writing and signed by Sagicor. These Terms & Conditions will inure to the benefit of Sagicor's successors and assigns.</p> 
 
<h3>14. Electronic Communications</h3>
<p>You acknowledge that these Terms & Conditions are a valid and binding agreement. To the fullest extent permitted by law, you agree that these Terms & Conditions and any other documentation, agreements, notices or communications between you and Sagicor may be provided to you electronically. Please print a copy of all such documentation, agreements, notices or other communications for your reference.</p>
 
<h3>15. Contacting Us</h3>
<p>If you have any other questions or concerns regarding these Terms & Conditions, please contact us:</p>

<p>Sagicor Life Insurance Company<br/>
Attn: Compliance Department<br/>
4343 N. Scottsdale Road, Suite 300<br/>
Scottsdale, AZ 85251<br/>
</p>




            
</div>
</div>
</div>

