﻿body#statictemplate1 {
    font-family: "lato",-apple-system,system-ui,BlinkMacSystemFont, Segoe UI ,Roboto, Helvetica Neue, Arial, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}
body#statictemplate1 h1 {
    color: #26ace2;
}

h2.static_pages {
    color:#474747;
    font-size:22pt;
    display:inline-block;
    margin-bottom:20px;
    position:relative;
    top:-10px
}
#legal 
{
    margin-bottom:80px;
}
h2
{
    font-family: 'Lato', sans-serif;
    color: #3399cc;
    font-size: 24pt;
}
h3 {
font-family: 'Lato', sans-serif;
color: #3399cc;
font-size: 18pt;
}

p {
font-size: 16px;
line-height: 1.7em;
}

#legal p {
    margin-bottom:40px;
}
#legal h2 {
    font-size: 24px;
}
#legal h1, h2, h3 {
    color: #26ace2;
}
#legal h1, h2, hr {
    margin-bottom: 20px;
}
.heading_graphic {
    display: inline-block;
    width: 47px;
    height: 45px;
    margin-right: 10px;
    position: relative;
    background-repeat: no-repeat;
}
.one {
    background-image: url(Images/heading_graphic_01.png);
    }
.two {
    background-image: url(Images/heading_graphic_02.png);
    }
.three {
    background-image: url(Images/heading_graphic_03.png);
    }

.application {
    background-image: url(Images/application_other_icon.png);
}

.coverage {
    background-image: url(Images/instant_quote_icon.png);
}

.calculate {
    background-image: url(Images/calculator_icon.png);
}
.hero_about_us {
    background-color: #daedfb;
    background-image: url(Images/about_us_bg.jpg);
}
.hero_contact_us {
    background-color: #f0fdfe;
    background-image: url(Images/contact_us_bg.jpg);
}
.hero_contact_us_other {
    background-color: #daedfb;
    background-image: url(Images/contact_us_other_bg.jpg);
}
.hero_faq {
    background-color: #daedfb;
    background-image: url(Images/faq_bg.jpg);
}
.hero_landingpage {
    background-color: #daedfb;
    background-image: url(Images/landingpage_bg.jpg);
}
.hero_larger_than_life {
    background-color: #daedfb;
    background-image: url(Images/larger_than_life_bg.jpg);
}
.hero_homepage_other {
    background-color: #daedfb;
    background-image: url(Images/larger_than_life_hero.jpg);
}
.hero_charity_other {
    background-color: #daedfb;
    background-image: url(Images/hero_charity_other.jpg);
}
.hero_larger_than_life_other {
    background-color: #fdf3d9;
    background-image: url(Images/larger_than_life_other_bg.jpg);
}
.hero_life_insurance_101 {
    background-color: #cde6ef;
    background-image: url(Images/life_insurance_101_bg.jpg);
}

.hero_term_vs_whole_life {
    background-color: #dcdcdf;
    background-image: url(Images/term_vs_whole_life_bg.jpg);
}

.hero_whole_life {
    background-color: #daedfb;
    background-image: url(Images/whole_life_bg.jpg);
    margin-bottom: 60px;
}
.hero_whole_life_other {
    background-color: #fff;
    background-image: url(Images/wholelife_photo.jpg);
}

.hero_term_life {
    background-color: #fff;
    background-image: url(Images/term_life_bg.jpg);
    margin-bottom: 60px;
}
.hero_why_buy_life_insurance {
    background-color: #daedfb;
    background-image: url(Images/why_buy_insurance_bg.jpg);
    margin-bottom: 60px;
}
.hero_legal {
    background-color: #daedfb;
    background-image: url(Images/legal_bg.jpg);
}
.trustpilot_form_container {
    background-color: #82adbe;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero_charity {
    background-color: #fff;
    background-image: url(Images/charity_bg.jpg);
}
#charities-container {
    background-color: #11b1e5;
}
/*FORM STYLES*/
.landingpage_form_container {
    background-color: #4a617b;
    padding-top:30px;
    padding-bottom:30px;
}

.col-form-label {
	color:#fff;
	font-weight:100;
}
.landingpage_form_container h4 {
    color: #fff;
    margin-bottom:20px;
}

ul.checklist {
    list-style-image: url('Images/checkmark.png') !Important;
}

ul.checklist li {
    display: list-item;
    text-align: -webkit-match-parent;
    line-height:35px;
}

h1.landingpage {
	margin-top:260px;
	margin-bottom:60px;
}

.partial-calculate-btn {
    background-color: #8cc540;
    color: #fff;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.lp-form-btn {
    background-color: #8cc540;
    color: #fff;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding:10px 0;
    font-weight:700;
}

.lp-form-btn:hover {
    background-color: #689828;
}

body .container {
    max-width: 998px;
}
.other-blue {
    background-color: #f1f9fe;
}



.lp_cta {
    background-color: #26abe3;
    padding:10px 0;

}

.lp_cta p {
font-size: 20px;
color: #fff;
}

body#statictemplate1 .has-warning .form-control-feedback {
    color: #fff;
}

body#statictemplate1 #birthday_message {
color:#fff;
}

body#statictemplate1 #birthday_message {
color:#fff;
}
#contactform .has-warning .form-control-feedback {
    color: red !important;
}

@media (max-width: 991px) {
    
	p:last-child {
	    margin-bottom: 20px;
	}
    .hero_larger_than_life {
        background-image: url(Images/larger_than_life_bg_mobile.jpg);
    }
    .hero_homepage_other {
        background-image: url(Images/larger_than_life_hero_mobile.jpg);
    }
    .hero_larger_than_life_other {
        background-image: url(Images/larger_than_life_other_bg_mobile.jpg);
    }
    .hero_life_insurance_101 {
        background-image: url(Images/life_insurance_101_bg_mobile.jpg);
    }
    .hero_term_vs_whole_life {
        background-image: url(Images/term_vs_whole_life_bg_mobile.jpg);
    }
    .hero_whole_life {
        background-image: url(Images/whole_life_bg_mobile.jpg);
    }
    .hero_whole_life_other {
        background-image: url(Images/wholelife_photo_mobile.jpg);
    }
    .hero_term_life {
        background-image: url(Images/term_life_bg_mobile.jpg);
    }
    .hero_why_buy_life_insurance {
        background-image: url(Images/why_buy_insurance_bg_mobile.jpg);
    }
    .hero_about_us {
        background-image: url(Images/about_us_bg_mobile.jpg);
    }
    .hero_charity {
        background-image: url(Images/charity_hero_mobile.jpg);
    }
    .hero_contact_us {
        background-image: url(Images/contact_us_bg_mobile.jpg);
    }
    .photopadtop {
        margin-top: 60px;
    }
    .hero_faq {
        background-image: url(Images/faq_bg_mobile.jpg);
    }
}