<div class="fluid-container">
   <section id="marketing_banner">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 ">
               <div class="row">
                  <div class="col-lg-3 text-lg-left text-center">                 
                     <img class="mb-graphic" src="~/Content/Images/mb-graphic_1.png">
                  </div>
                  <div class="col-lg-9 text-lg-left text-center">
                     <h3>Easy Online Application</h3>
                     <p class="mbp">20 minutes is all it takes to protect the ones you love.</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="row">
                  <div class="col-lg-3 text-lg-left text-center">
                     <img class="mb-graphic" src="~/Content/Images/mb-graphic_2.png">
                  </div>
                  <div class="col-lg-9 text-lg-left text-center">
                     <h3>Easy Online Application</h3>
                     <p class="mbp">Just answer a few Yes / No health questions. That's it!</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="row">
                  <div class="col-lg-3 text-lg-left text-center">
                     <img class="mb-graphic" src="~/Content/Images/mb-graphic_3.png">
                  </div>
                  <div class="col-lg-9 text-lg-left text-center">
                     <h3>Easy Online Application</h3>
                     <p class="mbp">Qualify for up to $500,000 of coverage in minutes.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>