<div id="needs-analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="text-center">               
        <h2>We Provide Piece of Mind</h2>
        <p>You'll always be there<br/>for the ones you love.</p>
        <a class="btn btn-primary" href="/needs">Calculate Your Needs</a>    
        </div>
      </div>
        <div class="col-lg-4"></div>            
    </div>
  </div> 
</div>
