@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
    ViewBag.Title = "Charity | Sagicor Life Insurance";
}

<!--HERO-->
<div class="container-fluid">
    <div id="hero" class="row hero hero_charity">
        <div class="container padtop60">
            <div class="col-lg-6">
                <h1>We are more than just <br />a life insurance company</h1>
                <p> Life Insurance Company's corporate vision is to be a great company committed to improving the lives of the people in the communities in which we operate. We support the people and the places around us, because when they become better, we do too. Now with your help, we can do even more.</p>
            </div>
        </div>
    </div>
</div>

<!--START MAIN PAGE CONTENT-->
<div class="container-fluid whitebg">
    <div class="container padtop60">
        <div class="row">
            <div class="col-lg-4 push60 text-center">
                <img src="~/content/images/difference.jpg" />
            </div>
            <div class="col-lg-8 push60">
                <h2>Larger than Life Initiative</h2>
                <p>
                    You can be larger than life. When you purchase a SagicorNow policy, Sagicor Life Insurance Company will donate $25* on your behalf to any of the charities listed below. Together we can make the world a better place, for everyone.
                </p>

                <p>After you complete your policy purchase, you will be asked to select a charity and provide the name of the person that you would like the donation to honor.</p>
                <p>Thank you in advance for helping to make a better world.</p>

                <small>*Not available in all states.</small>
            </div>
        </div>
    </div>
</div>

<!--START MAIN PAGE CONTENT-->
<div id="charities-container" class="container-fluid">
    <div class="container padtop60 padbottom60">
        <div class="row">
            <div class="col-lg-6 text-center">
                c
            </div>
            <div class="col-lg-6 text-center">
                x
            </div>
        </div>
    </div>
</div>


<!--HERO-->
<div class="container-fluid">
    <div id="hero" class="row hero hero_charity_other">
        <div class="container pad60">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <h2>Let's get started</h2>
                    There is no better time than today to get life insurance to protect your family. SagicorNow offers a fully online way to purchase term or whole life coverage in about 20 minutes. There are no agents, no medical exams, and no waiting. And, if you should happen to need some help, we&#39;re here for you.</p>

                    <p> Need a little extra motivation to get started? When you purchase a policy through SagicorNow, we'll donate $25* on your behalf to your choice of the charities above. Together, we can be larger than life.</p>

                    <p><small>*Not available in all states.</small></p>

                    <a class=" btn hero-btn" href="/quote">GET MY QUOTE</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



