@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
}
    
<div class="row hero"></div>

<!--2Col with From-->
<div class="container">
<div class="row">
		
<div class="col-lg-8">
<div class="heading_graphic one"></div><h2 class="static_pages">Age Matters.</h2>
<p>The cost of life insurance is based on your life expectancy. A 40-year-old will pay more than a 20-year-old, but less than a 60-year-old, for the same policy with the same amount of coverage. You will never be younger than you are today.</p>
<p>Each year that you wait to purchase life insurance will cost you more. Over time, this cost can be significant. Getting life insurance today makes financial sense.</p>			
<hr/>
<div class="heading_graphic two"></div><h2 class="static_pages">Health Matters.</h2>
<p>The cost of life insurance is based on your health at the time of the purchase. Healthy individuals will pay less than individuals who are not as healthy for the same policy with the same amount of coverage. If an individual has certain health issues, they may not be able to qualify for life insurance at any cost. The fact is that people tend to experience declining health as they age. Getting life insurance today when you’re healthy will ensure that you have coverage should your health change in the future.</p>
<hr/>
				
<div class="heading_graphic three"></div><h2 class="static_pages">Life Is Full Of Uncertainty.</h2>
<p>Accidents happen, and health conditions can change in an instant. You see it in the news every day, and you experience it with family, friends, and acquaintances. Too many families are left in a dire financial situation when a breadwinner suddenly dies, and there is no life insurance. </p>
<p>It’s too late to get life insurance if you wait until you need it. Getting life insurance today will provide peace of mind knowing that your loved ones are financially secure should the unexpected happen.</p>
<hr/>
				
</div>
			
<div class="col-lg-4">
    <div class="form_container">&nbsp;</div>
</div>
			
</div>
<!-- ROW	-->
</div>

@Html.Partial("MarketingBanner")

<!--  2col creative 50/50	 -->

<div class="container">
<div class="row">
<div class="col-lg-6"> 
<img src="https://placehold.it/375x285" class="">
</div>
<div class="col-lg-6">
<h2 >Peace of mind is affordable.</h2>
<p>You're taken the first step to protecting the ones you love- you’re looking into purchasing life insurance. This small step will ensure that the ones you love will have stability in their lives, even when you can’t be there for them. </p>
<p>There's good news, though. SagicorNow makes the process quick, easy, and affordable. In as little as twenty minutes, you can complete your application and enjoy the peace of mind that a term or whole life policy provides.</p>
</div>		
</div>
</div>

@Html.Partial("TrustPilot")