@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
    ViewBag.Title = "SagicorNow - Buy Life Insurance Online | Sagicor Life Insurance";
}

<!--HERO-->
<div class="container-fluid" >
   <div id="hero" class="row row hero hero_homepage">
      <div class="container pad60">
         <div class="col-lg-6">
            <h1>Life moves fast.<br/> Don't wait
            around for life insurance</h1>
            <p class="">Life is full of responsibilities.  You have people who count on you: a spouse, children, relatives or business partners.  Make sure they're protected should the unexpected happen.</p>
            <a class=" btn hero-btn" href="/quote">GET MY QUOTE</a> 				
            </div>
      </div>
   </div>
</div>

<!--MARKETING BANNER-->
@Html.Partial("MarketingBanner")

<!-- 2 COL CREATIVE -->
<div class="container push60 padtop60" role="main">
   <div class="row">
      <div class="col-lg-6 push60">
			
    <!--Responsive Embed 16x9-->
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WdZCsm-gDyQ?rel=0&modestbranding=1" allowfullscreen title=""></iframe>
	</div>
			
    <!--End Responsive Embed-->			
 		</div>
      <div class="col-lg-6">
			<h2>A new way to purchase life insurance</h2>
            <p>Unlike traditional life insurance, SagicorNow offers a fully online experience. That means no agents, no medical exams&#42; and, more importantly, no waiting. And, because it's online, you can get insured in minutes. </p>
            <p>Twenty minutes are all you need for coverage up to $1,000,000 on term or up to $250,000 on whole life insurance, whichever fits your needs.</p>
            <p>Life moves fast. Insure it even faster with SagicorNow.</p>
            <a class="btn hero-btn-other" href="/pages/life-insurance-101">Learn More</a>			
      </div>
   </div>
</div>

<!--TRUST PILOT-->
@Html.Partial("TrustPilot")

<!--HERO-->
<div class="container-fluid">
   <div id="hero" class="row row hero hero_homepage_other">
       <div class="container pad60">
           <div class="col-lg-6"></div>
           <div class="col-lg-6">
               <h2>Help make the world a better place</h2>

               <p>
                   Congratulations! You've reached the stage in life when you realize life is bigger than you. You've got responsibilities, loved ones to look after, and you wouldn't trade it for the world.
                   And speaking of the world, you wouldn't mind making that a better place too. When you purchase a SagicorNow policy, Sagicor Life Insurance Company will donate $25* on your behalf to a deserving charity. Together we can make the world a better place, for everyone.
                   <a href="/pages/larger-than-life">Learn More</a><br /><br />
                   <small>*Not available in all states.</small><br /><br />
                   <a class="btn hero-btn" href="/quote">Get My Quote</a>
               </p>

           </div>
       </div>
   </div>
</div>