@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
    ViewBag.Title = "Sagicor Life Insurance ";
    ViewBag.ShowNoIndex = true;
}
<!--HERO-->
<div class="container-fluid push60">
   <div id="hero" class="row hero hero_larger_than_life">
      <div class="container padtop60">
         <div class="col-lg-6">
            <h1>We are more than just<br/>a life 
            insurance company</h1>  
            <p>Sagicor Life Insurance Company's corporate vision is to be a great company committed to improving the lives of the people in the communities in which we operate.  We support the people and the places around us, because when they become better, we do too. Now with your help, we can do even more.</p>      				
          </div>
      </div>
   </div>
</div>

<!--START MAIN PAGE CONTENT-->
<div class="container push60" role="main">
   <div class="row">
      <div class="col-lg-5 push60">
        <img src="~/Content/Images/together.jpg" alt="Together, we can make a difference.">
      </div>
      <div class="col-lg-7">
          <h2>Larger than Life initiative</h2>
          <p>You can be larger than life. When you purchase a SagicorNow policy, Sagicor Life Insurance Company will donate $25* on your behalf to any of the charities listed below. After you complete your policy purchase, you will be asked to select a charity.   </p>
          <p>Together we can make the world a better place, for everyone. Thank you in advance for helping to make a better world.</p>
          <small>*Not available in all states.</small>
      </div>        
   </div>	
</div>
<!--END MAIN PAGE CONTENT-->

<!--DONATIONS-->
<div id="donations" class="container-fluid push60 pad60 blue_bg">
	<div class="container">
	<div class="row">
	<div class="col-lg-3 text-center"><a href="https://www.heart.org/en" target="_blank"><img src="~/Content/Images/AHA.png"></a></div>
	<div class="col-lg-3 text-center"><a href="https://apscnp.org/" target="_blank"><img src="~/Content/Images/APSC.png"></a></div>
	<div class="col-lg-3 text-center"><a href="https://www.jdrf.org/" target="_blank"><img src="~/Content/Images/JDRF.png"></a></div>
    <div class="col-lg-3 text-center"><a href="https://www.positivecoach.org/chapters/tampa-bay" target="_blank"><img src="~/Content/Images/PCA.png"></a></div>            
	</div>
	</div>
</div>

<!--  2 COL 50/50 -->
<div class="container">
   <div class="row push60">
      <div class="col-lg-6"> 
		<img src="~/Content/Images/larger_than_life_girl.jpg">	
      </div>
      <div class="col-lg-6">
          <h2>Let's get started</h2>
          <p>There is no better time than today to get life insurance to protect your family. SagicorNow offers a fully online way to purchase term or whole life coverage in about 20 minutes. There are no agents, no medical exams, and no waiting.  And, if you should happen to need some help, we’re here for you. </p>
          <p>Need a little extra motivation to get started?  When you purchase a policy through SagicorNow, we'll donate $25* on your behalf to your choice of the charities above.  Together, we can be larger than life.</p>
          <small>*Not available in all states.</small></p>
          <p><a class="btn hero-btn" href="/quote">Get Quote</a></p>
      </div>
   </div>
</div>