@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
    ViewBag.Title = "Privacy Statement | Sagicor Life Insurance ";
}

<div id="legal" class="container">
    <div class="row">
        <div class="col-lg-10 ">

<h1>Privacy Statement</h1>
 <p>           
<strong>PURPOSE.</strong> <br/>Sagicor Life Insurance Company ("Sagicor") significantly values your trust in us. We truly understand our duty to protect and responsibly use the information that you share with us, and we pledge our commitment to fulfilling that responsibility. The purpose of this Privacy Statement, a policy shared by all of our affiliate companies, is to inform you on how we treat your personal information.
</p>

<p>            
<strong>INFORMATION WE COLLECT AND HOW WE USE IT.</strong><br/> The types of personal information we may collect (directly from you or third parties) depend on the nature of the relationship that you have with Sagicor. Regardless of the source, we only collect information relevant for the purposes of processing information that you have consented, except where required by law, to protect the interests of Sagicor or in the discharge of public duty.
</p>

<p>           
Below are some of our sources for collecting personal information and, once collected, how we use it.
</p>

<p>            
<strong><i>Customers.</i></strong> <br/>To service your business, Sagicor may obtain financial, health, and other information about you from some or all of the following sources:
</p>
            
<p>
<ul>
    <li>Information you provide on the insurance application and other forms;</li>
    <li>Information from your insurance agent;</li>
    <li>Information from your transactions with us;</li>
    <li>Information from consumer reporting agencies;</li>
    <li>Information from public records, including driving, tax, property, utility, lien, judgement, and criminal records;</li>
    <li>When you apply for a life insurance policy, individually identifiable health information from your health care providers; and</li>
    <li>Information from our website, consumer portals, and mobile applications, such as site visit data and information collection devices (cookies).</li>
</ul>
</p>
            
<p>From these sources we may obtain information such as:<br/>
<ul>
    <li>Name, address (e-mail address, if applicable), telephone number, date of birth, Social Security Number or other tax payer identification number;</li>
    <li>With your authorization, health information;</li>
    <li>Driver's License Number, and accident and violation history;</li>
    <li>Credit information and information about previous insurance transactions;</li>
    <li>Banking information;</li>
    <li>Payment &amp; account history, including claims information; and</li>
    <li>Property, tax and utility payment, lien, judgement, and criminal history, if any.</li>
</ul>
</p>
<p>            
<strong><i>Websites and Mobile Applications.</i></strong> <br/>We collect two types of information about users of our sites and mobile applications:
<ul>
    <li>Information that users provide through optional, voluntary submissions. These are voluntary submissions from disclosures regarding customers' profiles and participation in polls, surveys, completion of online forms and subscriptions for services.</li>
    <li>Information that we gather through aggregated tracking and information derived mainly by tallying page views throughout our sites. This information allows us to better tailor our content to user's needs and to better understand the demographics of our audience. Compiling such aggregated demographic data is essential to keeping our service up to date for our users. We shall not disclose any information collected from any user unless such disclosure is permitted by law, required by an order of a court of competent jurisdiction or the disclosure is consented to by the owner of the information.</li>
</ul>
</p>

<p>
<strong><i>Collection of information from websites and mobile applications.</i></strong><br/> Sagicor respects your right to privacy, and treats any information you provide at our website as confidential. A visitor to our site is not requested or required to register or provide any information if the visitor wants to review Company and product information and does not want to have policy related services. Information will be collected in the following ways.
</p>            
<p>            
<i>[1] Optional Voluntary Information.</i> We offer the following services, which require some type of voluntary submission of personal information by users:
<ul>
    <li>for and the purchase of life insurance and annuity products; and</li>
    <li>Service for the administration of existing policies.</li>
</ul>
</p>
<p>            
<i>[2] Usage Tracking.</i> We track user traffic patterns throughout all of our sites. However, we do not correlate this information with data about individual users. We break down overall usage statistics according to a user's domain name, browser type, and MIME (Multipurpose Internet Mail Extension) type by reading this information from the browser string (information contained in every user's browser).
</p>
<p>            
<i>[3] Cookies.</i> We may place a text file called a "cookie" in the browser files of your computer. The cookie itself does not contain personal information although it will enable us to relate your use of this site to information that you have specifically and knowingly provided. However, the only personal information a cookie can contain is information that you supply yourself. A cookie cannot read data off your computer or read cookie files created by other sites. When visiting one of our sites for the first time, you will be prompted with a pop-up box to accept or decline our use of cookies. Should you decline to allow cookies, some features of our sites may be unavailable to you. If you have set your browser to warn you before accepting cookies, you will receive the warning message with each cookie. You do not need to have cookies turned on to use this site. However, you do need cookies to participate actively in features such as, but not limited to, online message boards, forums, polling and surveys and other functions of this site.
</p>
<p>            
<i>Use of information.</i> Through analytics we use information provided by users to enhance their experience on our site, whether to provide interactive or personalized elements on the site or to better prepare future content based on the interests of our users. Our use of information that users voluntarily provide includes, but is not limited to, the provision of insurance quotes, product illustrations, policy application processing, and policyowner account information and service.
</p>
<p>            
<i>Sharing of the Information.</i> We use the information provided by users to tailor our content to suit your needs. We will only share information about individual users with any third party with the consent of the specific user or in circumstances where we are legally permitted or required to provide information, including for management and operation of the business.
</p>
<p>            
<i>Network Security.</i> We operate secure data networks which comply with the industry standards for information systems security. Our security and privacy policies are periodically reviewed and enhanced as necessary and only authorized individuals have access to the information provided by users. Notwithstanding the foregoing, every reasonable effort will be made to secure your data but we cannot guarantee that the information you share will be secure during transmission to our web-servers.
</p>
            
<p><strong>INFORMATION WE SHARE.</strong> <br/>We will not disclose our current and former customers´ information to affiliated or nonaffiliated third parties, except as permitted by law. To the extent permitted by law, we may disclose to either affiliated or nonaffiliated third parties all of the information that we collect about our customers, as described in this section.

In general, any disclosures to affiliated or nonaffiliated third parties will be for the purpose of them providing services for us so that we may more efficiently administer your policy and process the transactions and services you request. Our agreements with third parties require them to use this information responsibly and restrict their ability to share this information with other parties. We do not sell information to either affiliated or non-affiliated parties.

We also may disclose the information we obtain about you to companies that perform marketing services on our behalf or to other financial institutions with which we have joint marketing agreements. The information we may share may include your name, address and phone number, and the product(s) you own.

We do not internally or externally share health information other than, as permitted by law, to process transactions or to provide services that you have requested. These transactions or services include, but are not limited to, underwriting life insurance policies, obtaining reinsurance on life policies and processing claims for waiver of premium, accelerated death benefits, terminal illness benefits or death benefits.

You should know that if your producer is independent of Sagicor, he or she is responsible for the use and security of information you provide him or her. Please contact your producer if you have questions about his or her privacy policy.
</p>

<p>            
<strong>RETENTION OF YOUR INFORMATION.</strong> <br/>We will only retain your personal information as long as it is necessary or as required by law. When we destroy the information, we will use safeguards to prevent unauthorized parties from gaining access to the information during the process.
</p>
<p>
<strong>SAFEGUARDING YOUR INFORMATION.</strong> <br/> Sagicor has security practices and procedures in place to prevent unauthorized access to your nonpublic personal information. Our practices of safeguarding your information help protect against the criminal use of the information. Sagicor administrative, technical and physical safeguards are designed to protect personal information that is received against accidental, unlawful or unauthorized destruction, loss, alteration, access, disclosure or use.
</p>

<p>Our employees receive training, are bound by a Code of Conduct requiring that all information be kept in strict confidence, and they are subject to disciplinary action for violation of the Code. We restrict access to information about you to only those employees who need to know that information to perform their job. We maintain physical, electronic, and procedural safeguards, which comply with federal and state regulations, to guard your information.
</p>
<p>            
<strong>CHANGES TO THIS PRIVACY STATEMENT.</strong><br/> We reserve the right to change our privacy policy in the future, but we will not disclose your nonpublic personal information as required or permitted by law without giving you an opportunity to instruct us not to do so.
</p>

<p>
<strong>QUESTIONS.</strong> <br/>You have a right to know the information we have about you. You must request this in writing. If you believe any of the information is erroneous, please explain in writing. If we do not agree that it needs correction, we will notify you and you will be entitled to file a statement of disagreement which we will file with the information. You may also file a complaint with the appropriate regulator.
</p>

<p>For requests about your information, or questions about this Privacy Statement, please write or call:<br/>

<address>Sagicor Life Insurance Company<br/>
Attention: Client Services Department<br/>
P. O. Box 52121<br/>
Phoenix, Arizona 85072-2121<br/>
(888) 724-4267</address>
</p>
            
<h2>PRIVACY NOTICE REGARDING PERSONAL INFORMATION FOR DATA SUBJECTS WHO RESIDE IN THE EUROPEAN UNION</h2>
<p><strong>EU GENERAL DATA PROTECTION REGULATION ("GDPR").</strong><br/> Although we do not market or sell Sagicor products or services in the European Economic Area ("EEA"), in order to continue serving an existing business relationship, we may incidentally collect or transfer personal information from individuals ("Data Subjects") located within the EEA. Personal information that may be collected by us from a Data Subject in the EEA may include:
<ul>
    <li>Name</li>
    <li>Address</li>
    <li>Telephone Number</li>
    <li>Email Address</li>
    <li>Social Security Number or Tax Identification Number</li>
    <li>Date of Birth</li>
    <li>Bank Account Information</li>
</ul>
</p>
<p>
<strong>LAWFUL GROUNDS TO PROCESS AND OBTAIN CONSENT.</strong> <br/>Data subjects whose personal information is collected in the EEA may withdraw consent at any time where consent is the lawful basis for processing his/her information. Should a data subject withdraw consent for processing or otherwise object to processing that impedes Sagicor's ability to comply with applicable regulations, a data subject may be unable to avail him/herself of the products or services that Sagicor provides.
</p>
            
<p><strong>DATA SUBJECTS' RIGHTS</strong>. All individuals whose personal information is held by Sagicor have the right to:<br/>
<ul>
    <li>Ask what information Sagicor holds about them and why;</li>
    <li>Ask for a copy of such information or access to such information;</li>
    <li>Be informed how to correct or keep that information up to date;</li>
    <li>Be informed on how Sagicor is meeting its data protection obligations.</li>
</ul>
</p>            

<p>Furthermore, for data collected in the EEA, data subjects have the right to:</br>
<ul>
    <li>Ask for a copy of such information to be sent to a third party;</li>
    <li>Ask for data to be erased if possible and required under the GDPR;</li>
    <li>Ask for processing of personal information to be restricted if possible and required under GDPR;</li>
    <li>Object to processing of personal information if possible and required under GDPR;</li>
    <li>Object to automated decision-making where applicable; and</li>
    <li>Contact a supervisory authority in the EEA to lodge a complaint regarding Sagicor processing of your personal data.</li>
</ul>
 </p>
 <p>               
<strong>AUTOMATED DECISION-MAKING.</strong> Sagicor makes automated underwriting decisions with information an applicant provides on an electronic insurance application and information obtained from third parties per consent which an applicant provides by electronically signing an application. Sagicor also makes automated decisions regarding the suitability of each proposed purchase of an annuity, using information an applicant provides in conjunction with the annuity application. An applicant can elect to not provide the information required for the Company to make a suitability decision, and must check a box stating either that they are providing complete information or that they are providing partial or no information.
</p>
<p>            
<strong>NON-DISCLOSURE OF INFORMATION.</strong> Sagicor does not share any nonpublic personal information with any nonaffiliated third parties, except in the following circumstances: As necessary to provide the service that the customer has requested or authorized, or to maintain, administer, and service the customer's account;
<ul>
    <li>To perform marketing services on Sagicor's behalf or in conjunction with a joint-marketing agreement which Sagicor may have with another financial institution;</li>
    <li>As required by regulatory authorities or law enforcement officials who have jurisdiction over Sagicor and its affiliates or as otherwise required by any applicable law; and</li>
    <li>To the extent reasonably necessary to prevent fraud and unauthorized transactions.</li>
</ul>
</p>
<p>Sagicor employees are prohibited, either during or after termination of their employment, from disclosing nonpublic personal information to any person or entity outside Sagicor, including family members, except under the circumstances described above. An employee is permitted to disclose nonpublic personal information only to such other employees who need to have access to such information to deliver our services to the customer.
</p>
<p>
<strong>SECURITY AND DISPOSAL OF INFORMATION.</strong> Sagicor restricts access to nonpublic personal information to those employees who need to know such information to provide services to our customers. All electronic or computer files containing such information shall be secured and protected from access by unauthorized persons. Electronic and paper records used for business purposes must not be left in places where they are visible to unauthorized persons. Data printouts and files must be disposed of securely when no longer needed.
</p>
            
<p>            
Sagicor's information safeguarding standards encompass all aspects of its business and are adopted in its Information Security Standards document, which include the following key Standards:
<ul>
    <li>Information Security</li>
    <li>Ownership of Data</li>
    <li>Business Use of Systems</li>
    <li>Individual Identification and Authentication</li>
    <li>Access Control</li>
    <li>Information Management</li>
    <li>Policy Awareness and Security Training</li>
    <li>Security Incident Management</li>
    <li>Availability</li>
    <li>Monitoring</li>
    <li>Logging and Auditing</li>
    <li>Physical Security</li>
    <li>Third Party Information Exchange</li>
    <li>Systems Development and Maintenance of Infrastructure</li>
    <li>Protection of Third Party Information</li>
    <li>Acceptable Encryption</li>
    <li>Information Risk Analysis</li>
    <li>Forensics Investigation</li>
    <li>Application and Information Access Control</li>
    <li>Security of System Files</li>
</ul>
</p>
            
<p>            
<strong>SAGICOR CONTACT INFORMATION FOR PERSONS LOCATED WITHIN THE EEA.</strong> If you are located in the European Economic Area ("EEA") or Switzerland and have questions or concerns regarding the processing of your personal information, you may contact our Chief Compliance Officer at SLIC_Compliance@Sagicor.com, or write us at:
</p>
            
<address>Sagicor Life Insurance Company<br/>
Attention: Chief Compliance Officer<br/>
4343 N. Scottsdale Road, Suite 300<br/>
Scottsdale, Arizona 85251</address>   
        </div>
    </div>
</div>

