@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
    ViewBag.Title = "Privacy Policy | Sagicor Life Insurance ";
}

<div id="legal" class="container">
<div class="row">
<div class="col-lg-10 ">

<h1>Privacy Policy</h1>
            
<p><i>Dear Customer:<br/><br/>
Sagicor Life Insurance Company (“Sagicor”) significantly values your trust in us. We truly understand our duty to protect and responsibly use the information that you share with us, and we pledge our commitment to fulfilling that responsibility. This notice of our Privacy Policy is to inform you on how we treat our customers’ information.</i></p>

<p><strong><u><i>SAFEGUARDING INFORMATION</i></u></strong><br/>
We have security practices and procedures in place to prevent unauthorized access to your nonpublic personal information (“information”). Our practices of safeguarding your information help protect against the criminal use of the information.</p>

<p>Our employees receive training, are bound by a Code of Conduct requiring that all information be kept in strict confidence, and they are subject to disciplinary action for violation of the Code. We restrict access to information about you to those employees who need to know that information to perform their job. We maintain physical, electronic, and procedural safeguards, which comply with federal and state regulations, to guard your information.</p>

<p>
<strong><u><i>COLLECTION OF INFORMATION</i></u></strong><br/>
To service your insurance and annuity business, Sagicor obtains financial, health, and other information about you from some or all of the following sources: Information you provide on the insurance application and other forms;

<ul>
<li>Information you provide on the insurance application and
other forms;</li>
<li>Information from your insurance agent;</li>
<li>Information from your transactions with us;</li>
<li>Information from consumer reporting agencies;</li>
<li>When you apply for a life insurance policy, individually
identifiable health information from your health care
providers;</li>
<li>Information from public records; and</li>
<li>Information from our website, consumer portals, and mobile
applications, such as site visit data and information collection
devices (cookies).</li>
</ul>
            
</p>


<p>From these sources we may obtain information such as:
<ul>
    <li>Name, address e-mail address, phone number, date of birth, Social Security Number or other taxpayer identification number;</li>
    <li>Driver’s License Number, and accident and violation history;</li>
    <li>Credit information and information about previous insurance transactions;</li>
    <li>Banking information;</li>
    <li>Health information (with your authorization);</li>
    <li>Payment &amp; account history; and</li>
    <li>Property, tax and utility payment, lien, judgement, and criminal history, if any.</li>
</ul>
</p>

<p>
<strong><u><i>DISCLOSURE OF INFORMATION</i></u></strong><br/>
We will not disclose our current and former customers´ information to affiliated or nonaffiliated third parties, except as <strong>permitted</strong> by law. To the extent permitted by law, we may disclose to either affiliated or nonaffiliated third parties all of the information that we collect about our customers, as described in this section.
</p>

<p>In general, any disclosures to affiliated or nonaffiliated third parties will be for the purpose of them providing services for us so that we may more efficiently administer your policy and process the transactions and services you request. Our agreements with third parties require them to use this information responsibly and restrict their ability to share this information with other parties. <strong>We do not sell information to either affiliated or non-affiliated parties.</strong></p>

<p>We also may disclose the information we obtain about you to companies that perform marketing services on our behalf or to other financial institutions with which we have joint marketing agreements. The information we may share may include your name, address, phone number, email address, and the product(s) you own.</p>

<p>We do not internally or externally share health information other than, as permitted by law, to process transactions or to provide services that you have requested. These transactions or services include, but are not limited to, underwriting life insurance policies, obtaining reinsurance on life policies and processing claims for waiver of premium, accelerated death benefits, terminal illness benefits, or death benefits.</p>

<p>You should know that if your producer is independent of Sagicor, he or she is responsible for the use and security of information you provide him or her. Please contact your producer if you have questions about his or her privacy policy.</p>

<p>
<strong><u><i>ACCESS AND QUESTIONS</i></u></strong><br/>
For more detailed information regarding our information privacy and security practices, please see the “Privacy Statement” link at the bottom of the homepage of our website.
</p>

<p>You have a right to know the information we have about you. You must request this in writing. If you believe any of the information is erroneous, please explain in writing. If we do not agree that it needs correction, we will notify you and you will be entitled to file a statement of disagreement which we will file with the information.</p>

<p>For any request or question about our Privacy Policy or your policy with us, please write or call:</p>

<p>Sagicor Life Insurance Company<br/>
Attention: Client Services Department<br/>
P. O. Box 52121<br/>
Phoenix, Arizona 85072-2121<br/>
(888) 724-4267</p>

<p><i>We hope this notice has been helpful to you. Sagicor would like to affirm our commitment to servicing your insurance needs and protecting your private information. Thank you for thinking of Sagicor when reviewing your insurance needs. We stand ready to help you.</i></p>
</div>
</div>
</div>

