@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
    ViewBag.Title = "Term Vs Whole Life. What's The Difference? | Sagicor Life Insurance ";
}
<!--HERO-->
<div class="container-fluid push60">
<div id="hero" class="row hero hero_term_vs_whole_life">
  <div class="container padtop60">
     <div class="col-lg-7">
        <h1>Term vs Whole Life. What's the difference?</h1>
        <p>There are lots of options available when shopping for life insurance.  Term, Whole Life and Policy Riders too!  Sagicor Life is here to help you learn some of the differences between Term and Whole Life Policies.</p>
     </div>
  </div>
</div>
</div>

<!--MAIN CONTENT-->
<div class="container main-content" role="main">
   <div class="row">
      <div class="col-lg-7">
         <p>You've decided you need life insurance, and you've made the decision to apply for coverage.  But now you're unsure of what type of policy you should get.  Term, or Whole Life?  And why is whole life insurance more expensive than term anyway?</p>
			<p> Those are good questions. Think of the difference between term and whole life as the difference between renting and owning. </p>
         <h2>Term Life Insurance</h2>
         <p>With term insurance you "rent" the insurance for a determined period of time, called a term.  This can be 10, 15 or 20 years. If you were to die during the term period, your beneficiaries would receive a payment in the amount of the policy. If you are alive after the term, your life insurance coverage will expire. If you then want a new life policy, you will need to complete the application process again.  The life insurance company would evaluate your application just like any other new application.  The cost of that next policy will be greater than the previous policy since you are now older and, if your health has changed, that too could add to the cost of the policy.  Also, if there has been a significant change in your health, you may not be able to qualify for the new insurance at any price.  So why choose a term life policy? Term life insurance is more affordable than whole life insurance since it provides coverage for a specific period of time, and that combination may be exactly what you are looking for.  Affordable coverage, for a specific period of time.</p>
      </div>
      <div class="col-lg-4 offset-lg-1">
         <div class="row">
            <div class="col-lg-12 landingpage_form_container">
               <h4 class="text-center">Get your <strong>FREE</strong><br/> life insurance quote today!</h4>

				<!--INCLUDE FORM-->
               @Html.Partial("_QuoteFormPartial", new SagicorNow.ViewModels.QuoteViewModel(SagicorNow.ViewModels.QuoteViewModel.DisplayInfo.SINGLE_COLUMN_BARE))
                <small class="white">* In the past 24 Months have you used any form of tobacco or nicotine products including cigarettes, e-cigarettes, cigars, pipes, chewing tobacco, snuff, nicotine patches or gums?</small>    
				</div>
         </div>
      </div>
   </div>
</div>

<!--MARKETIG BANNER-->
@Html.Partial("MarketingBanner")

<div class="container-fluid">
<div id="hero" class="row hero hero_whole_life_other padtop60">
  <div class="container">
	<div class="row">		
	<div class="col-lg-6"></div> 
     <div class="col-lg-6">
        <h2 >Whole Life Insurance</h2>
         <p class="zero">With whole life insurance you "buy" the insurance for an entire lifetime of coverage. The annual cost of coverage may initially seem expensive compared to term insurance, but since the cost remains the same over your entire lifetime, as you age the annual cost becomes significantly less than what you would pay if you had been purchasing a series of term insurance policies over that same time.  This makes whole life affordable over the course of an entire lifetime.  Another benefit of whole life is that over time, the policy will grow in value above the initial policy amount meaning your beneficiaries may receive more than the initial policy value.  Affordable coverage for your entire life, a fixed premium rate that will never change, and cash value accumulation are good reasons why you might consider whole life insurance.</p>
     </div>
	</div>
  </div>
</div>
</div>

<!--TRUST PILOT-->
@Html.Partial("TrustPilotEmpty")

<!--  2 COL 50/50    -->
<div class="container padtop60 push60">
   <div class="row">
      <div class="col-lg-6">
         <h2>How much coverage do you need?</h2>
         <p>Many people don't know how much coverage they need. How much does it cost for burial expenses? What does a college education for my kids cost nowadays? Will my family be okay if I'm not around to provide income? These are all very valid and important questions and all play a key role in choosing the appropriate coverage to protect the ones you love.</p>
         <p>Sagicor Life's <a href="/needs">Needs Calculator</a> can help you choose the right policy. Answer a few questions and you're done! It's that easy.</p>
         <a class="btn hero-btn" href="/quote">Get Quote</a>
      </div>
      <div class="col-lg-6 text-center">
         <img class="photopadtop img-fluid" src="~/Content/Images/WholeVsTerm_Family_Photo.jpg">
      </div>
   </div>
</div>