@{
    Layout = "~/Views/Shared/_StaticTemplate1.cshtml";
    ViewBag.Title = "Sage Whole Life Insurance - Level, Fixed Premiums | Sagicor Life Insurance";
}
<!--HERO-->
<div class="container-fluid">
   <div id="hero" class="row row hero hero_whole_life">
      <div class="container padtop60">
         <div class="col-lg-6">
            <h1>Sage Whole Life Insurance</h1>
            <p class="white">Sagicor's Sage Whole Life Insurance is specifically designed to provide lifetime insurance coverage along with the opportunity for cash accumulation.  Over time, the cash value of the policy will accumulate on a tax-deferred basis.  Should you ever have a financial emergency or opportunity, you can access the loan value of your policy through a policy loan.&#42; Best of all, your premium payments always remain the same as you grow older, providing affordable lifetime coverage.</p>
            <p><a class="cbpdf-white" href="/Content/pdf/9015.pdf">Consumer Brochure PDF</a></p>  
		</div>
      </div>
   </div>
</div>

<!--START MAIN PAGE CONTENT-->
<div class="container main-content">
   <div class="row">
      <div class="col-lg-7">
			<p>Whole life insurance provides a lifetime of coverage as long as you continue to make the premium payments. Initially, the premium payment may seem high when compared to term life, but over time, whole life may become much more affordable than term insurance.  Another benefit is that as the years pass, your policy will grow in value over the initial policy amount.</p>
			<p>Sagicor's Sage Whole Life is a potential solution with the following benefits:</p>
		<ul class="checklist">
		    <li>Affordable coverage for your entire life</li>
		    <li>Level, fixed premium rates that will never change</li>
		    <li>Cash value accumulation on a tax deferred basis</li>
		    <li>Access to policy's loan value&#42;</li>
		    <li>An option as part of your estate planning, including funeral expenses</li>
		    <li>The comfort of knowing that you have secured the future for those counting on you</li>
		    <li>SagicorNow's fully online experience with no agents, no medical exams&#42; and no waiting</li>
		</ul>
		<h2>Inherent Accelerated Benefit Insurance Rider</h2>
		<p>Sage Whole Life also provides additional protection through its inherent Accelerated Benefit Insurance Rider, which is included at no additional cost.</p>
        <p>The Accelerated Benefit Insurance Rider advances a portion of the death benefit proceeds if eligibility requirements are satisfied for a Terminal Condition, helping you cover medical costs.</p>
        <p>The accelerated benefit amount is the lesser of $250,000 or the face amount less $5,000 and is paid as a lump sum. A one-time administrative fee (the lesser of $250 or maximum allowed by state law) will be deducted from the accelerated death benefit payout.</p>	
        <p>The death benefit will be reduced by the accelerated death benefit and the administrative fee.</p>			
			
		<h2>Sage Whole Life - Optional Riders</h2>
		<p>Optional riders are provided for an additional cost. They are designed to allow you to customize your policy to fit your lifestyle and family needs.</p>
		<h2>Accidental Death Benefit Rider</h2>
		<p>This rider provides an additional death benefit to your beneficiaries if death occurs due to a covered accident.</p>
		<h2>Children's Term Rider</h2>
		<p>This rider provides term life insurance protection for your children (ages 15 days to 19 years) and remains in force for each child until the earlier of age 25 or marriage.  At the end of the term period the benefit may be converted to a eligible permanent life insurance policy for up to five times the original amount, regardless of their current health.</p>
		<h2>Waiver of Premium Rider</h2>
		<p>This rider waives the premium payments if the primary insured becomes totally disabled.  If the total disability ceases, simply resume the premium payments of the policy.</p>			
      </div>

      <!--RIGHT HAND COL-->
      <div class="col-lg-4 offset-lg-1">
         <div class="row">
            <div class="col-lg-12 landingpage_form_container">
               <h4 class="text-center">Get your <strong>FREE</strong><br/> life insurance quote today!</h4>

                <!--INCLUDE FORM-->
               @Html.Partial("_QuoteFormPartial", new SagicorNow.ViewModels.QuoteViewModel(SagicorNow.ViewModels.QuoteViewModel.DisplayInfo.SINGLE_COLUMN_BARE))
                <small class="white">* In the past 24 Months have you used any form of tobacco or nicotine products including cigarettes, e-cigarettes, cigars, pipes, chewing tobacco, snuff, nicotine patches or gums?</small>                        
            </div>
         </div>
      </div>
   </div>
</div>
<!--END MAIN PAGE CONTENT-->

<!--TRUST PILOT-->
@Html.Partial("TrustPilotEmpty")
